.navbar {
  background-color: #1983fa;
  color: #fff;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
  margin-top: 14px;
}

.nav-link:hover {
  color: #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1983fa;
    text-align: center;
    display: none;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 1rem 0;
  }

  .nav-link {
    margin: 0;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1983fa;
    text-align: center;
    display: none;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 1rem 0;
  }

  .nav-link {
    margin: 0;
    padding: 1rem;
  }
}
