.error-message {
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: red;
}

.file-uploader-container {
  width: 430px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-family: "Poppins", sans-serif;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.file-input {
  display: block;
  margin-bottom: 10px;
}

.upload-button {
  background-color: #1983fa;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: large;
}

.upload-button:hover {
  background-color: #165aad;
}

.file-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  display: none;
}

.custom-file-input {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.custom-file-input:hover {
  background-color: #f0f0f0;
}

.file-info {
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #666;
}

.button-container {
  margin-top: 50px;
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #888;
}

.upload-button:disabled:hover {
  background-color: #ccc;
}
